* {
   font-family: Arial;
}

div {
   font-size: 2em
}
p {
   font-size: 1.5em
}

p, #div2{
   font-weight: 800;

}

.important_element{
   color: red;
}

#div1{
   color: purple;
}

ul li{
   font-weight: 1.2em;
   color: red;
}
ul li> item {
    font-weight: 2em;
}